.container {
    position: relative;
    width: 100%;
    background: #06061a;
    overflow: hidden;
    /* for text	 */
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 100%;
        filter: brightness(0.2);
    }

    & .confetti {
        position: absolute;
        width: 100%;
        height: 100%;

        & > span {
            position: absolute;
            top: -10%;
            left: 0;
            width: 1.5vw;
            height: 1vw;
            background: #fff;

            // &:nth-child(2n + 1) {
            //     animation: confetti-anim-1 10s 0s linear infinite;
            // }
        }

        // &:nth-child(2n + 1) {
        //     animation: confetti-anim-1 10s 0s linear infinite;
        // }
    }

    /* text */
    & > p {
        position: absolute;
        font-size: 16px;
        font-weight: bold;
        color: #fff;

        & a {
            color: #fff;
        }
    }
}

/* add animation */
$ratio: 0.3;
$fall-time: 10s * $ratio;
.confetti span:nth-child(2n + 1) {
    animation: confetti-anim-1 $fall-time 0s linear infinite;
}

.confetti span:nth-child(2n + 2) {
    animation: confetti-anim-2 $fall-time 0s linear infinite;
}

$max-size: 50;
$position-init: 0;

/* side position */
@for $i from 0 through $max-size {
    .confetti span:nth-child(#{$i + 1}) {
        left: calc(($position-init + $i) * 2%);
    }
}

$color-list: red, blue, green, pink, yellow;

/* colors */
@for $i from 1 through length($color-list) {
    .confetti span:nth-child(5n + #{$i}) {
        background: nth($color-list, $i);
    }
}

$duration-times: 5s, 12s, 8s, 6s;

/* animation-duration */
@for $i from 1 through length($duration-times) {
    .confetti span:nth-child(4n + #{$i}) {
        animation-duration: calc(nth($duration-times, $i) * $ratio);
    }
}

/* animation-delay */
$delay-times: 0s, 9s, 2s, 5s, 6s, 7s, 3s, 1s, 2s, 11s, 10s;
@for $i from 1 through length($delay-times) {
    .confetti span:nth-child(11n + #{$i}) {
        animation-delay: calc(nth($delay-times, $i) * $ratio);
    }
}

/* animation */

@keyframes confetti-anim-1 {
    0% {
        top: -10%;
        transform: translateX(0) rotateX(0) rotateY(0);
    }

    100% {
        top: 100%;
        transform: translateX(20vw) rotateX(180deg) rotateY(360deg);
    }
}

@keyframes confetti-anim-2 {
    0% {
        top: -10%;
        transform: translateX(0) rotateX(0) rotateY(0);
    }

    100% {
        top: 100%;
        transform: translateX(-20vw) rotateX(180deg) rotateY(360deg);
    }
}
