@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    $close_circle: "./close-circle.svg";
    $checkmark_circle: "./checkmark-circle.svg";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #4e65ff, #92effd);

    & .box {
        background: #fff;
        padding: 15px 40px;
        box-shadow: 15px 15px rgba(0, 0, 0, 0.1);

        & h3 {
            position: relative;
            font-size: 20px;
            color: #ccc;
            letter-spacing: 0.1em;
            font-weight: 500;
            margin-bottom: 5px;
        }

        & #form {
            position: relative;

            & #email {
                width: 400px;
                outline: none;
                border: none;
                border-bottom: 2px solid #333;
                color: #333;
                padding: 10px 0;
                font-weight: 500;
                font-size: 1.2em;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }

            &.invalid {
                & .inputBox::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 12px;
                    width: 24px;
                    height: 24px;
                    background-image: url($close_circle);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            &.valid {
                & .inputBox::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 12px;
                    width: 24px;
                    height: 24px;
                    background-image: url($checkmark_circle);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            & .inputBox {
                position: relative;

                & #text {
                    display: block;
                    color: #999;
                    font-weight: 500;
                    padding: 5px 0;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-size: 0.75em;
                }
            }
        }
    }
}
