.circle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100vw;

    &__child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid;

        &::before {
            content: attr(data-line1) "\a"attr(data-line2);
            white-space: pre-wrap;
            background-color: antiquewhite;
            font-size: 11px;
        }

        &::after {
            content: "";
            position: relative;
            width: 100%;
            aspect-ratio: 1;
            text-align: center;
            background-color: #4169e1;
            background-image: url("../../../images/helmet_light.png");
            background-repeat: no-repeat;
            background-size: contain;

            border: 1px solid rgba(38, 45, 77, 0.503);
        }

        &:nth-child(1)::after {
            clip-path: circle(80%);
        }

        &:nth-child(2)::after {
            clip-path: circle(50%);
        }

        &:nth-child(3)::after {
            clip-path: circle(20%);
        }

        // 2列目
        &:nth-child(4)::after {
            clip-path: circle(30% at center);
        }

        &:nth-child(5)::after {
            clip-path: circle(30% at top);
        }

        &:nth-child(6)::after {
            clip-path: circle(30% at bottom);
        }

        // 3列目
        &:nth-child(7)::after {
            clip-path: circle(30% at left);
        }
        &:nth-child(8)::after {
            clip-path: circle(30% at right);
        }
        &:nth-child(9)::after {
            clip-path: circle(30% at top left);
        }
    }
}
