* {
  margin: 0;
  padding: 0;
}

section {
  &>h2 {
    background-color: #591895;
    color: aliceblue;
  }

  &>div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>h3 {
      color: aliceblue;
      background-color: #515151;

      &+p {
        padding: 2%;
        border: 1px dotted black;
        border-radius: 10px;
        margin: 2%;
        font-size: 80%;
        background-color: beige;
      }
    }
  }
}

// 以下特有のスタイル

.before-after {
  &__basis {
    & a {
      &::before {
        content: "::beforeです <=";
        color: blue;
      }

      &::after {
        content: "=> ::affterです";
        color: green;
      }
    }

  }

  &__practice {
    & span[data-content] {
      position: relative;
      color: brown;

      &:active::before {
        content: attr(data-content);
        position: absolute;
        background-color: beige;
        border-radius: 5px;
        border-style: double;
      }

      &:hover::after,
      &:focus::after {
        content: attr(data-content);
        position: absolute;
        background-color: aqua;
        border-radius: 5px;
        border-style: dotted;
      }
    }

    & .gecko {
      display: flex;
      position: relative;
      width: 20%;
      aspect-ratio: 100 / 94.63;

      margin: 0 10%;

      background: {
        repeat: no-repeat;
        size: contain;
        image: url(../images/tokage_crested_gecko.png);
      }

      transition: all 2s ease;

      &:hover {
        filter: hue-rotate(180deg);
      }


      &::before {
        content: "";
        // position: absolute;
        // left: 100%;
        width: 50%;
        aspect-ratio: 100 / 94.63;

        background: {
          repeat: no-repeat;
          size: contain;
          image: url(../images/tokage_crested_gecko.png);
        }

        filter: hue-rotate(-90deg);

      }

      &::after {
        content: "";
        // position: absolute;
        // left: 100%;
        width: 50%;
        aspect-ratio: 100 / 94.63;

        background: {
          repeat: no-repeat;
          size: contain;
          image: url(../images/tokage_crested_gecko.png);
        }

        filter: hue-rotate(90deg);

      }
    }
  }
}